.about {
    margin-bottom: 100px;
}

.line-black {

    min-width: 240px;
    border: none; /* Убираем границу */
    background-color: rgb(0, 0, 0);; /* Цвет линии */
    color: rgb(0, 0, 0); /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
    margin: 60px 0 60px 0;
}

